/* LoginForm.css */

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.login-form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #ced4da;
}

.password-container {
  position: relative;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  flex: 1;
  padding-right: 40px;
}

.password-toggle-icon {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}

.error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 2px;
  display: -webkit-box;
}

.success {
  color: hsl(121, 83%, 61%);
  font-size: 14px;
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden; /* Hides any content that overflows */
  text-overflow: ellipsis; /* Displays an ellipsis (...) to indicate text overflow */
}

.btn-primary {
  background-color: #3498db;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #2980b9;
}

.btn-block {
  width: 100%;
}

img, svg {
  vertical-align: middle;
  width: 100px;
  padding-bottom: inherit;
}